<form class="form-inline" action="/batches" method="post" role="form">
    <div class="form-group">
        <input class="form-control" type="text" name="shoePairs" >
        <input class="form-control" type="text" name="numeration" >
    </div>
    <select name="shoe">
    <% if @shoes.any? %>
	<% @shoes.each do |shoe| %>
		  <option value="<%= shoe.modelo %>"><%= shoe.modelo %></option>
	<% end %>
    <% else %>
            <option value="-1">No hay zapatos</option>
    <% end %>
    </select>
	
    <select name="order">
    <% if @orders.any? %>
	<% @orders.each do |order| %>
		  <option value="<%= order.id %>"><%= order.nombre %></option>
	<% end %>
    <% else %>
            <option value="-1">No hay orderes</option>
    <% end %>
    </select>

    <select name="color">
    <% if @colors.any? %>
	<% @colors.each do |color| %>
		  <option value="<%= color.nombre %>"><%= color.nombre %></option>
	<% end %>
    <% else %>
            <option value="-1">No hay colores</option>
    <% end %>
    </select>
    <input class="btn btn-success" type="submit" value="Nuevo">


</form>

<h2><%= p @title %></h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Numeracion</th>
            <th>Pares</th>
            <th>Acciones</th>
        </tr>
        <% if @batches.any? %>
            <% @batches.each do |batch| %>
                <tr>
                    <td>
                        <%= batch.id %>
                    </td>
                    <td>
                        <%= batch.shoeModel %>
                    </td>
                    <td>
                        <%= batch.color %>
                    </td>
                    <td>
                        <%= batch.numeration %>
                    </td>
                    <td>
                        <%= batch.shoePairs %>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info" href="/batches/<%= batch.id %>">Editar</a>
                            <a class="btn btn-danger" href="/batches/<%= batch.id %>/delete">Eliminar</a>
                        </div>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </table>
</div>


