<form class="form-inline" action="/batches" method="post" role="form">
    <div class="form-group">
        <input class="form-control" type="text" name="nombre" >
    </div>
    <input class="btn btn-success" type="submit" value="Nuevo">
    <select name="selectShoes">
    <% if @shoes.any? %>
	<% @shoes.each do |shoe| %>
		  <option value="<%= shoe.id %>"><%= shoe.modelo %></option>
	<% end %>
    <% else %>
            <option value="-1">No hay zapatos</option>
    <% end %>
    </select>
	
    <select name="selectColors">
    <% if @colors.any? %>
	<% @colors.each do |color| %>
		  <option value="<%= color.id %>"><%= color.nombre %></option>
	<% end %>
    <% else %>
            <option value="-1">No hay colores</option>
    <% end %>
    </select>


</form>

<h2><%= p @title %></h2>
<div class="row">
<div class="col-md-6">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
            </tr>
            <% if @batches.any? %>
                <% @batches.each do |batch| %>
                    <tr>
                        <td>
                            <%= batch.id %>
                        </td>
                                                <td>
                            <div class="btn-group">
                                <a class="btn btn-info" href="/batches/<%= batch.id %>">Editar</a>
                                <a class="btn btn-danger" href="/batches/<%= batch.id %>/delete">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </table>
    </div>
</div>
<div class="col-md-6">

</div>
</div>


