<form class="form-horizontal" action="/batches" method="post" role="form">
  <div class="row">
    <div class="col-md-2 ">

      <div class=" form-group">
        <label for="Color">Color</label>
        <input class="form-control" type="text" name="color" value="<%= @batch.color %>" >
        <label for="shoe">Modelo</label>
        <input class="form-control" type="text" name="shoe" value="<%= @batch.shoeModel %>" >
        <label for="order">Pedido</label>
        <input disabled class="form-control" type="text" name="order" value="<%= @order.nombre %>" >
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="form-group">
        <label for="shoePairs">Pares</label>
        <input class="form-control" type="text" name="shoePairs" value="<%= @batch.shoePairs %>" >
        <label for="numeration">Numeracion</label>
        <input class="form-control" type="text" name="numeration" value="<%= @batch.numeration %>" >
        <input type="hidden" name="_method" value="put">
      </div>
  <div class="row">
    <div class="col-md-offset-10">
        <input class="btn btn-success" type="submit" value="Nuevo">
    </div>
  </div>
    </div>
  </div>

</form>
