<button class="btn btn-success" data-toggle="collapse" data-target="#demo">Nuevo Lote</button>
<div id="demo" class="collapse">
<form class="form-inline" action="/orders" method="post" role="form">
  <div class="form-group">
    <input class="form-control" type="text" name="nombre" >
  </div>
  <br>
  <input class="btn btn-primary" type="submit" value="Nuevo">
</form>
</div>

<h2><%= p @title %></h2>
<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>order</th>
      <th>fecha creacion</th>
      <th>fecha entrega</th>
      <th>Acciones</th>
    </tr>
    <% if @orders.any? %>
      <% @orders.each do |order| %>
      <tr>
      <td>
        <%= order.id %>
      </td>
      <td>
        <%= order.nombre %>
      </td>
      <td>
        <%= order.fecha %>
      </td>
      <td>
        <%= order.fechaEntrega %>
      </td>
      <td>
        <div class="btn-group">
          <a class="btn btn-info" href="/orders/<%= order.id %>">Editar</a>
          <a class="btn btn-danger" href="/orders/<%= order.id %>/delete">Eliminar</a>
        </div>
      </td>
    </tr>
  <% end %>
  <% end %>
  </table>
</div>

