<% if @out %>
  <div class="alert alert-info">
    <%= @out %>
</div>
<% end %>
<button class="btn btn-success" data-toggle="collapse" data-target="#demo">Nuevo Pedido</button>
  <br>
  <br>
<div id="demo" class="collapse">
<form class="form-inline" action="/orders" method="post" role="form">
  <div class="form-group">
    <label for="fechaEntrega">Fecha de Entrega</label>
        <input class="form-control" type="date" name="fechaEntrega" placeholder="AAAA-MM-DD"/>
  </div>
  <br>
  <br>
  <input class="btn btn-primary" type="submit" value="Guardar">
</form>
</div>

<h2><%= p @title %></h2>
<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>fecha creacion</th>
      <th>fecha entrega</th>
      <th>Acciones</th>
    </tr>
    <% if @orders.any? %>
      <% @orders.each do |order| %>
      <tr>
      <td>
        <%= order.id %>
      </td>
      <td>
        <%= order.fecha %>
      </td>
      <td>
        <%= order.fechaEntrega %>
      </td>
      <td>
        <div class="btn-group">
          <a class="btn btn-info" href="/orders/<%= order.id %>">Editar</a>
          <a class="btn btn-danger" href="/orders/<%= order.id %>/delete">Eliminar</a>
        </div>
      </td>
    </tr>
  <% end %>
  <% end %>
  </table>
</div>

